@model DayMvctoApi.Models.bookwithAuthor
@{
    ViewBag.Title = "Add";
}
@{
    Layout = "~/Views/Shared/_layoutShow.cshtml";
}


<br />

<form asp-action="create">
    <div>
        <label asp-for="@Model.Title" class="form-label mt-4"></label>
        <input class="form-control" asp-for="@Model.Title">
        <span asp-validation-for="@Model.Title" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="@Model.Isbn" class="form-label mt-4"></label>
        <input class="form-control" asp-for="@Model.Isbn">
        <span asp-validation-for="@Model.Isbn" class="text-danger"></span>

    </div>

    <div>
        <label asp-for="@Model.PageCount" class="form-label mt-4"></label>
        <input class="form-control" asp-for="@Model.PageCount">
        <span asp-validation-for="@Model.PageCount" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="@Model.Price " class="form-label mt-4"></label>
        <input class="form-control" asp-for="@Model.Price ">
        <span asp-validation-for="@Model.Price " class="text-danger"></span>

    </div>

    <div>
        <label asp-for="@Model.Publisher " class="form-label mt-4"></label>
        <input class="form-control" asp-for="@Model.Publisher ">
        <span asp-validation-for="@Model.Publisher " class="text-danger"></span>

    </div>
    <div>
        <label asp-for="@Model.AuthorId " class="form-label mt-4"></label>
        @Html.DropDownListFor(model => model.AuthorId, (SelectList)ViewData["AuthorId"], "Select Author", new { @class = "form-control" })

        @* @Html.DropDownListFor(model => model.AuthorId, null, new { @class = "form-control" }) *@
        <span asp-validation-for="@Model.AuthorId " class="text-danger"></span>
        <br/>
        
    </div>
    <button type="submit" class="btn btn-success">Success</button>
</form>