@model DayMvctoApi.Models.labwithauthor
@{
    ViewBag.Title = "display";
}
@{
    Layout = "~/Views/Shared/_layoutShow.cshtml";
}
<form asp-action="edit" class="mt-4">
    <div class="form-group">

        <input asp-for="@Model.id" type="hidden" />


        <label asp-for="@Model.name" class="form-label">Author Name</label>
        <input asp-for="@Model.name" class="form-control" />
        <span asp-validation-for="@Model.name" class="text-danger"></span>
    </div>

    <div class="form-group">

        


        <label asp-for="@Model.adress" class="form-label">Author Name</label>
        <input asp-for="@Model.adress" class="form-control" />
        <span asp-validation-for="@Model.adress" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-success">Save</button>
        <a asp-action="index" class="btn btn-secondary ml-2">Cancel</a>
    </div>
</form>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
